.container {
  display: grid;
  height: fit-content;
  width: 100%;
  grid-template-rows: 32rem 32rem;
  grid-template-columns: 50% 50%;
  row-gap: 5rem;
  column-gap: 2rem;
  grid-template-areas:
    "events events"
    "organizer admin";
}

events {
  grid-area: events;
}

organizer {
  grid-area: organizer;
}

admin {
  grid-area: admin;
}
